.wrapper {
    .content {
        .list {
            display: flex;
            align-items: center;
            margin: 30px 0;
            flex-wrap: wrap;

            .item {
                width: 25%;
                padding: 0 12px 24px;
            }
        }
    }
}
