.wrapper {
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card {
            width: 100%;
            padding: 12px;
            border-radius: 18px;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
            position: relative;
            transition: transform linear 0.2s, box-shadow 0.2s var(--itr-yy-z);
            will-change: transform;

            &:hover {
                transform: translateY(-10px);
                box-shadow: var(--hover-box-shadow-color);
            }

            .image-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .image-content {
                    border-radius: 12px;
                    width: 100%;
                    height: 0;
                    padding: 50% 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-clip: border-box;
                }
            }
            .information {
                width: 100%;
                padding: 24px 4px 12px;
                overflow: hidden;

                h4 {
                    font-weight: 400;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .info {
                    width: 100%;
                    margin-bottom: 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & > div {
                        overflow: hidden;
                    }
                }

                .footer {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .icon-shopping {
                        padding-right: 14px;
                        color: var(--black-color);

                        .icon-shopping-svg {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
