:root {
    --white-color: #fff;
    --black-color: #000;
    --border-color: #ebebeb;
    --grey-color: grey;
    --link-underline-color: #001d74;

    // variable dimension
    --height-header: 81px;

    // box-shadow
    --box-shadow-color: 0px 1px 2px rgba(0, 0, 0, 0.08), 1px 4px 12px rgba(0, 0, 0, 0.05);
    --hover-box-shadow-color: 1px 2px 4px rgba(0, 0, 0, 0.18);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border: unset;
    cursor: pointer;
}

input {
    border: unset;
    outline: unset;
}
