.wrapper {
    width: 100%;
    height: var(--height-header);
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    .content {
        width: 94%;
        height: inherit;
        margin: 0 auto;

        .list {
            height: inherit;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item {
                flex: 1;

                .trademark {
                    display: flex;
                    align-items: center;

                    .logo {
                        width: 45px;
                        height: 60px;
                        background-image: url('../../assets/images/flowerLogo.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        background-origin: content-box;
                    }

                    .heading {
                        font-weight: 500;
                        font-family: 'Brush Script MT', cursive;
                        margin-left: 14px;
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
}
