.wrapper {
    width: calc(var(--height-header-item) - 12px);
    height: calc(var(--height-header-item) - 12px);

    .content {
        width: 100%;
        height: 100%;

        .img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}
